{{ define "managers/tableOne4.html" }}
    <html>
    <head>
        {{template "partial/head"}}
        <link href="{{ ctx }}/assets/css/dashboard.css" rel="stylesheet">
        <link href="{{ ctx }}/assets/css/pricing.css" rel="stylesheet">
        {{/*<script src="{{ ctx }}/assets/js/dashboard.js"></script>*/}}
        <script type="text/javascript">
            function add() {
                const data = {};
                data["content"] = document.getElementById("addContent").value;
                fetch('{{ ctx }}' + "/managers/table-one/add", {
                    credentials: 'include',//send cookie
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify(data)
                }).then(function (response) {
                    var contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        return response.json();
                    }
                    throw new TypeError("Oops, we haven't got JSON!");
                }).then(function (result) {
                    if (result.code === 1) {
                        window.location.href = "{{ ctx }}/managers/table-one";
                    } else {
                        alert(result.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }

            function newline(index) {
                return (index + 1) % 2 === 0
            }
        </script>
    </head>
    <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">表格</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {{template "partial/table-nav"}}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h5 class="display-4">超龄，逾期申请表</h5>
                    <p class="lead">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModalLong">
                            新增记录
                        </button>
                        <button type="button" class="btn btn-link">清空表格</button>
                    </p>
                </div>

                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        {{range $index,$element := .data}}
                            <div class="card mb-6 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">L: 超龄、逾期申请表:</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>
                                            <div class="input-group">
                                            <p class="text-right">姓名:</p>
                                            <p class="text-left">{{$element.UserName}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                            <p class="text-right alert alert-dark">性别:</p>
                                            <p class="text-left">{{$element.Gender}}</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                            <p class="text-right alert alert-dark">推荐人手机号码:</p>
                                            <p class="text-left">{{$element.ReferrerPhoneNumber}}</p>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">年龄</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Age}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">学历</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Education}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">身份证号</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Identity}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">手机号</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.PhoneNumber}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">邮箱</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Email}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">身份证地址</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.IdentityAddress}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">工作单位</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Work}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">单位地址</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.WorkAddress}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">单位电话</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.WorkPhone}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">申请原因</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.ReasonForApplying}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">银行名称</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.BankName}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">收卡地址</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.ReceiveAddress}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">申请时间</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.ApplyTime}}">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">推荐人姓名</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.ReferrerName}}">
                                            </div>
                                        </li>

                                        <li>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">备注</span>
                                                </div>
                                                <input type="text" aria-label="First name" class="form-control"
                                                       value="{{$element.Remark}}">
                                            </div>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">修改</button>
                                </div>
                            </div>
                            {{ if linefeed $index 2}}
                                </div>
                                 <div class="card-deck mb-3 text-center">
                            {{end}}
                        {{end}}
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">新增记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="addContent" rows="15"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="add()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{ end }}