{{ define "managers/tableOne.html" }}
    <html>
    <head>
        {{template "partial/head"}}
        <link href="{{ ctx }}/assets/css/dashboard.css" rel="stylesheet">
        <link href="{{ ctx }}/assets/css/pricing.css" rel="stylesheet">
        {{/*<script src="{{ ctx }}/assets/js/dashboard.js"></script>*/}}
        <style>
            .input-group {
                line-height:50%;
            }
        </style>
        <script type="text/javascript">
            function add() {
                const data = {};
                data["content"] = document.getElementById("addContent").value;
                fetch('{{ ctx }}' + "/managers/table-one/add", {
                    credentials: 'include',//send cookie
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: "POST",
                    body: JSON.stringify(data)
                }).then(function (response) {
                    var contentType = response.headers.get("content-type");
                    if (contentType && contentType.includes("application/json")) {
                        return response.json();
                    }
                    throw new TypeError("Oops, we haven't got JSON!");
                }).then(function (result) {
                    if (result.code === 1) {
                        window.location.href = "{{ ctx }}/managers/table-one";
                    } else {
                        alert(result.message);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            }
        </script>
    </head>
    <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">表格</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {{template "partial/table-nav"}}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <p class="lead">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModalLong">
                            新增记录
                        </button>
                        <button type="button" class="btn btn-link">清空表格</button>
                    </p>
                </div>

                <div class="container">
                    <div class="card-deck mb-3 text-center">
                        {{range $index,$element := .data}}
                        <div class="card mb-6 shadow-sm">
                            {{/*<div class="card-header">*/}}
                                {{/*<h4 class="my-0 font-weight-normal">L: 超龄、逾期申请表:</h4>*/}}
                            {{/*</div>*/}}
                            <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">姓名:</p>
                                            <p class="text-left text-primary">{{$element.UserName}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">性别:</p>
                                            <p class="text-left text-primary">{{$element.Gender}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">年龄:</p>
                                            <p class="text-left text-primary">{{$element.Age}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">学历:</p>
                                            <p class="text-left text-primary">{{$element.Education}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">身份证号:</p>
                                            <p class="text-left text-primary">{{$element.Identity}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">手机号:</p>
                                            <p class="text-left text-primary">{{$element.PhoneNumber}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">邮箱:</p>
                                            <p class="text-left text-primary">{{$element.Email}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">身份证地址:</p>
                                            <p class="text-left text-primary">{{$element.IdentityAddress}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">工作单位:</p>
                                            <p class="text-left text-primary">{{$element.Work}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">单位地址:</p>
                                            <p class="text-left text-primary">{{$element.WorkAddress}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">单位电话:</p>
                                            <p class="text-left text-primary">{{$element.WorkPhone}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">申请原因:</p>
                                            <p class="text-left text-primary">{{$element.ReasonForApplying}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">银行名称:</p>
                                            <p class="text-left text-primary">{{$element.BankName}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">收卡地址:</p>
                                            <p class="text-left text-primary">{{$element.ReceiveAddress}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">申请时间:</p>
                                            <p class="text-left text-primary">{{$element.ApplyTime}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">推荐人姓名:</p>
                                            <p class="text-left text-primary">{{$element.ReferrerName}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">推荐人手机号码:</p>
                                            <p class="text-left text-primary">{{$element.ReferrerPhoneNumber}}</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-group">
                                            <p class="text-right">备注:</p>
                                            <p class="text-left text-primary">{{$element.Remark}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">修改</button>
                            </div>
                        </div>
                        {{ if linefeed $index 2}}
                    </div>
                    <div class="card-deck mb-3 text-center">
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </main>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">新增记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="addContent" rows="15"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="add()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
{{ end }}